.has-js {
    [data-scrolly='fromBottom'] {
        opacity: 0;
        transform: translateY(60px);
        transition: all 0.4s ease-out;
        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromLeft'] {
        opacity: 0;
        transform: translateX(-60px);
        transition: all 0.4s ease-out;
        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromRight'] {
        opacity: 0;
        transform: translateX(60px);
        transition: all 0.4s ease-out;
        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromTop'] {
        opacity: 0;
        transform: translateY(-60px);
        transition: all 0.4s ease-out;
        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='rotateLeft'] {
        opacity: 0;
        transform: translateX(-120px) rotateY(-180deg);
        transition: all 0.8s ease-out;
        &.is-active {
            opacity: 1;
            transform: translateX(0) rotateY(0);
        }
    }

    [data-scrolly='rotateUp'] {
        opacity: 0;
        transform: translateY(-120px) rotateX(-180deg);
        transition: all 0.8s ease-out;
        &.is-active {
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }
    }
}
