/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: rgb(15, 14, 66);
    --color-secondary: #17762c;

    --color-bg-primary: rgba(26, 132, 166, 0.3);
    --color-bg-secondary: rgb(26, 132, 166);

    --color-fail: #d73f3f;
}
