{% include '_partials/_header.html' %}

<article class="alerte">
    <div class="wrapper">
        <p>Alerte verglas: l’électricité devrait être rétablie d’ici 24 heures</p>
        <div class="widget_meteo">
            <div class="widget">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-meteo"></use>
                </svg>
            </div>
            <p>10°C</p>
        </div>
    </div>
</article>

<section class="hero">
    <div class="swiper" data-component="Carousel" data-autoplay data-loop data-fade>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="hero_content_container">
                    <div class="wrapper">
                        <div class="gros_logo">
                            <img class="glogo" src="assets/images/groslogo.png" alt="gros logo" />
                            <p class="textlogo">
                                Baie-Sainte-Catherine
                                <br />
                                <span class="slogan">Capitale de la Zénitude et des baleines</span>
                            </p>
                        </div>

                        <div class="hero_content">
                            <h2>Le vernissage de l’exposition</h2>
                            <p>Vous êtes cordialement invités au vernissage de l’exposition le samedi 25 mars à 14h!</p>
                            <button>Voir plus</button>
                        </div>
                    </div>
                </div>

                <img src="assets/images/hero_img1.jpg" alt="image hero 1" class="hero_img" />
            </div>

            <div class="swiper-slide">
                <div class="hero_content_container">
                    <div class="wrapper">
                        <div class="gros_logo">
                            <img class="glogo" src="assets/images/groslogo.png" alt="gros logo" />
                            <p class="textlogo">
                                Baie-Sainte-Catherine
                                <br />
                                <span class="slogan">Capitale de la Zénitude et des baleines</span>
                            </p>
                        </div>

                        <div class="hero_content">
                            <h2>Planifiez votre été maintenant!</h2>
                            <p>C’est le moment idéal pour découvrir les beaux paysages de Baie-Sainte-Catherine</p>
                            <button>Voir plus</button>
                        </div>
                    </div>
                </div>

                <img src="assets/images/hero_img2.jpg" alt="image hero 2" class="hero_img" />
            </div>

            <div class="swiper-slide">
                <div class="hero_content_container">
                    <div class="wrapper">
                        <div class="gros_logo">
                            <img class="glogo" src="assets/images/groslogo.png" alt="gros logo" />
                            <p class="textlogo">
                                Baie-Sainte-Catherine
                                <br />
                                <span class="slogan">Capitale de la Zénitude et des baleines</span>
                            </p>
                        </div>

                        <div class="hero_content">
                            <h2>La Saint-Jean approche</h2>
                            <p>Tenez-vous prêts pour la fête du Québec ici-même, à Baie-Sainte-Catherine le 24 juin!</p>
                            <button>Voir plus</button>
                        </div>
                    </div>
                </div>

                <img src="assets/images/hero_img3.jpg" alt="image hero 3" class="hero_img" />
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>

<section class="actualite">
    <div class="wrapper">
        <h2 data-scrolly="fromBottom">L'actualité</h2>
        <p data-scrolly="fromBottom" class="centre">L’actualité de Baie-Sainte-Catherine</p>

        <div class="grille_actu">
            <div data-scrolly="fromLeft" class="carte carte1">
                <img src="assets/images/proces.jpg" alt="proces" class="ombre" />
                <div class="actu_content">
                    <p class="titre_actu">Procès-verbal</p>
                    <p>Procès-verbal de la séance ordinaire du Conseil municipal tenue le...</p>
                    <button>Voir plus</button>
                </div>
                <div class="fonce"></div>
            </div>
            <div data-scrolly="fromLeft" class="carte carte2">
                <img src="assets/images/geotechnique.jpg" alt="geo" class="ombre" />
                <div class="actu_content">
                    <p class="titre_actu">Appel d’offres:</p>
                    <p>Réalisation d’une étude géotechnique pour...</p>
                    <button>Voir plus</button>
                </div>
                <div class="fonce"></div>
            </div>
            <div data-scrolly="fromRight" class="carte carte3">
                <img src="assets/images/tracteur.jpg" alt="tracteur" class="ombre" />
                <div class="actu_content">
                    <p class="titre_actu">Avis de consultation</p>
                    <p>Assemblée publique pour la démolition d’immeubles...</p>
                    <button>Voir plus</button>
                </div>
                <div class="fonce"></div>
            </div>
            <div data-scrolly="fromRight" class="carte carte4">
                <img src="assets/images/defi.jpg" alt="defi" class="ombre" />
                <div class="actu_content">
                    <p class="titre_actu">Defi</p>
                    <p>Coup de coeur du ministre de...</p>
                    <button>Voir plus</button>
                </div>
                <div class="fonce"></div>
            </div>

            <div data-scrolly="fromLeft" class="carte carte5">
                <img src="assets/images/pierreasselin.jpg" alt="Pierre Asselin" class="ombre" />
                <div class="actu_content">
                    <p class="titre_actu">LA MRC en deuil</p>
                    <p>Charlevoix perd un grand...</p>
                    <button>Voir plus</button>
                </div>
                <div class="fonce"></div>
            </div>
            <div data-scrolly="fromRight" class="carte carte6">
                <img src="assets/images/avocat.jpg" alt="Avocat" class="ombre" />
                <div class="actu_content">
                    <p class="titre_actu">La fraude en 3D</p>
                    <p>Personne n’est à l’abris d’une escroquerie...</p>
                    <button>Voir plus</button>
                </div>
                <div class="fonce"></div>
            </div>
        </div>
    </div>
</section>

<section class="tourisme">
    <div data-scrolly="fromBottom" class="wrapper">
        <h2>Tourisme</h2>
        <p class="centre">Découvrez une panoplie d’activités à faire dans les environs!</p>

        <!-- Slider main container -->
        <div class="swiper" data-component="Carousel" data-variant="split" data-autoplay data-loop>
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="assets/images/baleine.png" alt="baleine" />
                    <div class="activite_content">
                        <div class="limite">
                            <h3>Observation de baleines</h3>
                            <p>Profitez d’une croisière pour aller observer les baleines!</p>
                        </div>
                        <div>
                            <button>Voir plus</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/kayak.png" alt="kayak" />
                    <div class="activite_content">
                        <div class="activite">
                            <h3>Kayak sur le lac</h3>
                            <p>Faites une excursion sur le lac en kayak!</p>
                        </div>
                        <div>
                            <button>Voir plus</button>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/plage.png" alt="plage" />
                    <div class="activite_content">
                        <div class="activite">
                            <h3>La plage</h3>
                            <p>Admirez la superbe vue et baignez-vous à la plage!</p>
                        </div>
                        <div>
                            <button>Voir plus</button>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/eglise.png" alt="eglise" />
                    <div class="activite_content">
                        <div class="activite">
                            <h3>L’église Saint-Firmin</h3>
                            <p>Visitez un monument historique de la Baie-Sainte-Catherine!</p>
                        </div>
                        <div>
                            <button>Voir plus</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="services">
    <div class="mini_wrapper">
        <h2 data-scrolly="fromBottom">Les services</h2>
        <p data-scrolly="fromBottom" class="centre">
            La municipalité offre plusieurs services à sa populations pour assurer une propreté de l’environnent
        </p>

        <div class="grille_services">
            <div data-scrolly="fromLeft" class="service ombre">
                <svg class="icon icon--xl">
                    <use xlink:href="#icon-poubelle"></use>
                </svg>

                <div class="service_infos">
                    <h4>Collectes des déchets</h4>
                    <p><strong>Vendredi</strong></p>
                    <p>Pour les JOURS FÉRIÉS, les collectes sont maintenues.</p>
                    <button>Voir plus</button>
                </div>
            </div>

            <div data-scrolly="fromRight" class="service ombre">
                <svg class="icon icon--xl">
                    <use xlink:href="#icon-recyclage"></use>
                </svg>

                <div class="service_infos">
                    <h4>Collectes des matières recyclables</h4>
                    <p><strong>Jeudi</strong></p>
                    <p>Pour les JOURS FÉRIÉS, les collectes sont maintenues.</p>
                    <button>Voir plus</button>
                </div>
            </div>

            <div data-scrolly="fromLeft" class="service ombre">
                <svg class="icon icon--xl icon--stroke">
                    <use xlink:href="#icon-composte"></use>
                </svg>

                <div class="service_infos">
                    <h4>Collectes des matières organiques</h4>
                    <p><strong>Lundi en hiver et jeudi en été</strong></p>
                    <p>Pour les JOURS FÉRIÉS, les collectes sont maintenues.</p>
                    <button>Voir plus</button>
                </div>
            </div>

            <div data-scrolly="fromRight" class="service ombre">
                <svg class="icon icon--xl">
                    <use xlink:href="#icon-meuble"></use>
                </svg>

                <div class="service_infos">
                    <h4>Collectes des encombrants</h4>
                    <p><strong>Deux fois par année</strong></p>
                    <p>
                        La collecte des encombrants esr réalisée une fois vers le début mai et une autre vers le début
                        septembre.
                    </p>
                    <button>Voir plus</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="installer">
    <div class="wrapper">
        <h2 data-scrolly="fromRight">S’installer ici</h2>
        <p data-scrolly="fromRight" class="centre">Vous pensez à vous installer ici? Consultez ces fiches!</p>
        <div class="faq" data-component="Accordion">
            <div data-scrolly="fromLeft" class="accordion__container js-header">
                <div class="accordion__header">
                    <img src="assets/images/construction.jpg" alt="construction" />
                    <div class="sombre"></div>
                    <div class="installer_content">
                        <h2>Les permis</h2>
                        <div class="bouton_installer">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    <p>
                        La MRC de Baie Ste-Catherine offre une variété de services aux résidents de la région. Le bureau
                        de la MRC est situé dans la ville de Baie Ste-Catherine et offre des services administratifs aux
                        municipalités membres de la MRC.
                    </p>
                    <p>
                        La MRC de Baie Ste-Catherine est également responsable de la gestion des matières résiduelles
                        dans la région. Le centre de tri de la MRC est situé à Baie Ste-Catherine et offre des services
                        de recyclage et de gestion des déchets pour les résidents et les entreprises de la région.
                    </p>
                    <p>
                        Les services de police et d'incendie dans la MRC de Baie Ste-Catherine sont assurés par la
                        Sûreté du Québec et les services locaux de pompiers respectivement. Les services de santé sont
                        assurés par le Centre intégré de santé et de services sociaux (CISSS) de la Côte-Nord.
                    </p>
                </div>
            </div>
            <div data-scrolly="fromRight" class="accordion__container js-header">
                <div class="accordion__header">
                    <img src="assets/images/regle.jpg" alt="regle" />
                    <div class="sombre"></div>
                    <div class="installer_content">
                        <h2>Les règlements</h2>
                        <div class="bouton_installer">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    <p>
                        La MRC de Baie Ste-Catherine est une destination touristique populaire, connue pour son
                        observation des baleines. Les visiteurs peuvent prendre des excursions en bateau pour voir les
                        baleines de près dans leur habitat naturel. Les visiteurs peuvent également voir des phoques et
                        des dauphins lors de ces excursions. La région est également connue pour ses sentiers de
                        randonnée, notamment la promenade de la Pointe-aux-Épinettes, qui offre une vue imprenable sur
                        le fleuve Saint-Laurent. Les visiteurs peuvent également profiter des plages de sable fin de la
                        région, comme la plage de l'Anse-à-Cousins.
                    </p>
                    <p>
                        La MRC de Baie Ste-Catherine compte également plusieurs musées, dont le Musée de la mémoire
                        vivante, qui présente l'histoire et la culture de la région. Les festivals et événements tout au
                        long de l'année, comme la Fête de la musique et la Fête de la pêche, attirent également les
                        visiteurs.
                    </p>
                </div>
            </div>
            <div data-scrolly="fromLeft" class="accordion__container js-header">
                <div class="accordion__header">
                    <img src="assets/images/travail.jpg" alt="travail" />
                    <div class="sombre"></div>
                    <div class="installer_content">
                        <h2>Offres d'emplois</h2>
                        <div class="bouton_installer">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    <p>
                        L'économie de la MRC de Baie Ste-Catherine est principalement basée sur la pêche, le transport
                        maritime et le tourisme. La région est le foyer de plusieurs entreprises de pêche, notamment la
                        pêche au homard et la pêche à la morue.
                    </p>
                    <p>
                        Le tourisme est également un secteur économique important dans la MRC de Baie Ste-Catherine.
                        L'observation des baleines est la principale attraction touristique de la région, mais il y a
                        aussi de nombreux autres sites touristiques, notamment les musées, les plages et les sentiers de
                        randonnée.
                    </p>
                </div>
            </div>
            <div data-scrolly="fromRight" class="accordion__container js-header">
                <div class="accordion__header">
                    <img src="assets/images/histoire.jpg" alt="histoire" />
                    <div class="sombre"></div>
                    <div class="installer_content">
                        <h2>Notre histoire</h2>
                        <div class="bouton_installer">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="accordion__content">
                    <p>
                        La MRC de Baie Ste-Catherine est située sur la rive nord du fleuve Saint-Laurent, dans la région
                        de la Côte-Nord au Québec. La région a une longue histoire de peuplement autochtone, avec des
                        preuves d'occupation humaine remontant à plus de 8 000 ans.
                    </p>
                    <p>
                        Les Européens ont commencé à s'installer dans la région au XVIIe siècle, avec l'établissement de
                        postes de traite de fourrures sur les rives du fleuve Saint-Laurent. Au XIXe siècle, l'industrie
                        de la pêche s'est développée dans la région, avec des villages de pêcheurs établis le long de la
                        côte.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="youtube">
    <div class="wrapper">
        <h2>La BSC en vidéo</h2>
        <p>Découvrez les paysages de la Baie-Sainte-Catherine!</p>
        <div class="grille_video">
            <div class="video" data-component="Youtube" data-video-id="m6Tcf5PGqy8" data-scrolly="fromLeft">
                <div class="video__media js-video">
                    <img class="js-poster" src="assets/images/poster.jpg" alt="Spectacle de musique" />
                    <svg class="icon icon--stroke icon--xl">
                        <use xlink:href="#icon-play"></use>
                    </svg>
                </div>
            </div>

            <div class="video" data-component="Youtube" data-video-id="ni5TcYKEmMg" data-scrolly="fromRight">
                <div class="video__media js-video">
                    <img class="js-poster" src="assets/images/traversier.jpg" alt="Spectacle de musique" />
                    <svg class="icon icon--stroke icon--xl">
                        <use xlink:href="#icon-play"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="infolettre">
    <div class="wrapper">
        <h2 data-scrolly="fromBottom">Restez à l'affut</h2>
        <p data-scrolly="fromBottom" class="centre">Inscrivez-vous à notre infolettre!</p>
        <div data-scrolly="fromBottom" class="infolettre_deco">
            <div class="rond ombre"></div>
            <div class="deco_content ombre">
                <p><strong>Infolettre</strong></p>
                <div class="input">
                    <label class="form__label" for="email">Email</label>
                    <input class="input__element" type="email" name="email" id="email" placeholder="" required />
                </div>
                <button>Soumettre</button>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
